<!DOCTYPE html>
<html>
    <head>
        <title>Oops! Something went wrong</title>
        <style>
            body {
                background-color: #f8d7da;
                font-family: Arial, sans-serif;
                text-align: center;
            }
            h1 {
                font-size: 5rem;
                margin-top: 5rem;
            }
            p {
                font-size: 2rem;
                margin-top: 2rem;
            }
            img {
                margin-top: 5rem;
                max-width: 50%;
            }
        </style>
    </head>
    <body>
        <h1>Oops!</h1>
        <p>Something went wrong</p>
        <img src="https://media.giphy.com/media/3o7aCSPqXE5C6T8tBC/giphy.gif" alt="Sad cat">
    </body>
</html>